[base]
fedora-base ansible_host=192.168.150.xxx

[dns]
fedora-dns1 ansible_host=192.168.150.xxx
fedora-dns2 ansible_host=192.168.150.xxx

[api]
api-kube ansible_host=192.168.150.2

[masters]
fedora-master1 ansible_host=192.168.150.xxx
fedora-master2 ansible_host=192.168.150.xxx
fedora-master3 ansible_host=192.168.150.xxx

[workers]
fedora-worker1 ansible_host=192.168.150.xxx
